In [1]:
import agate

tester = agate.TypeTester(limit=100)
fiftyyears = agate.Table.from_csv('../data/temp1.csv', column_types=tester)

In [2]:
print (fiftyyears)

|---------------+---------------|
|  column_names | column_types  |
|---------------+---------------|
|  STATION      | Text          |
|  STATION_NAME | Text          |
|  ELEVATION    | Number        |
|  LATITUDE     | Number        |
|  LONGITUDE    | Number        |
|  Date         | Date          |
|  TMAX         | Number        |
|  TMIN         | Number        |
|---------------+---------------|

In [5]:
from decimal import Decimal

def make_high_f(row): 
    return ((row['TMAX']/10)*Decimal(1.8)+32).quantize(Decimal('0.1'))

def make_low_f(row): 
    return ((row['TMIN']/10)*Decimal(1.8)+32).quantize(Decimal('0.1'))
            
converted_temps = fiftyyears.compute([
        ('tmax_f', agate.Formula(agate.Number(), make_high_f)),
        ('tmin_f', agate.Formula(agate.Number(), make_low_f))
    ])

In [6]:
print(converted_temps)

|---------------+---------------|
|  column_names | column_types  |
|---------------+---------------|
|  STATION      | Text          |
|  STATION_NAME | Text          |
|  ELEVATION    | Number        |
|  LATITUDE     | Number        |
|  LONGITUDE    | Number        |
|  Date         | Date          |
|  TMAX         | Number        |
|  TMIN         | Number        |
|  tmax_f       | Number        |
|  tmin_f       | Number        |
|---------------+---------------|

In [7]:
temps_with_months = converted_temps.compute([
        ('month', agate.Formula(agate.Text(), lambda row: '%s' % row['Date'].month))
    ])

In [9]:
print(temps_with_months)
print(len(temps_with_months.rows))

|---------------+---------------|
|  column_names | column_types  |
|---------------+---------------|
|  STATION      | Text          |
|  STATION_NAME | Text          |
|  ELEVATION    | Number        |
|  LATITUDE     | Number        |
|  LONGITUDE    | Number        |
|  Date         | Date          |
|  TMAX         | Number        |
|  TMIN         | Number        |
|  tmax_f       | Number        |
|  tmin_f       | Number        |
|  month        | Text          |
|---------------+---------------|

43551

In [10]:
airport = temps_with_months.where(lambda row: row['STATION'] == 'GHCND:USW00014939')
print(len(airport.rows))

15872

In [11]:
airport_feb = airport.where(lambda row: row['month'] == '2')
print(len(airport_feb.rows))

1228

In [12]:
warm_feb_days = airport_feb.where(lambda row: 60 <= row['tmax_f'] < 70)
print(len(warm_feb_days.rows))

88

In [16]:
binned_temps = airport_feb.bins('tmax_f', 11, -20, 90)
binned_temps.print_bars('tmax_f', 'Count', width=50)

tmax_f    Count
[-10 - 0)     3 ▓
[0 - 10)     22 ▓░░
[10 - 20)   103 ▓░░░░░░░░
[20 - 30)   203 ▓░░░░░░░░░░░░░░░░░
[30 - 40)   355 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
[40 - 50)   233 ▓░░░░░░░░░░░░░░░░░░░
[50 - 60)   199 ▓░░░░░░░░░░░░░░░░
[60 - 70)    88 ▓░░░░░░░
[70 - 80)    22 ▓░░
                +-------+-------+--------+-------+
                0      100     200      300    400

In [17]:
warm_feb_days_with_years = warm_feb_days.compute([
        ('year', agate.Formula(agate.Text(), lambda row: '%s' % row['Date'].year))
    ])

In [18]:
by_year = warm_feb_days_with_years.group_by('year')

In [22]:
by_year_count = by_year.aggregate([
        ('count', agate.Count())
    ])

In [23]:
by_year_count.print_bars('year', 'count', width=50)

year count
1974     2 ▓░░░░░░░░░░
1976     6 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░
1977     8 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
1981     6 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░
1982     2 ▓░░░░░░░░░░
1983     1 ▓░░░░░
1984     3 ▓░░░░░░░░░░░░░░
1986     2 ▓░░░░░░░░░░
1987     4 ▓░░░░░░░░░░░░░░░░░░░
1988     1 ▓░░░░░
1990     3 ▓░░░░░░░░░░░░░░
1991     3 ▓░░░░░░░░░░░░░░
1992     5 ▓░░░░░░░░░░░░░░░░░░░░░░░░
1994     2 ▓░░░░░░░░░░
1995     3 ▓░░░░░░░░░░░░░░
1996     3 ▓░░░░░░░░░░░░░░
1997     2 ▓░░░░░░░░░░
1998     1 ▓░░░░░
1999     4 ▓░░░░░░░░░░░░░░░░░░░
2000     7 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2005     6 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2006     3 ▓░░░░░░░░░░░░░░
2007     1 ▓░░░░░
2009     5 ▓░░░░░░░░░░░░░░░░░░░░░░░░
2011     2 ▓░░░░░░░░░░
2012     1 ▓░░░░░
2013     1 ▓░░░░░
2014     1 ▓░░░░░
           +---------+--------+--------+---------+
           0         2        4        6         8

In [24]:
average_february = airport_feb.compute([
        ('year', agate.Formula(agate.Text(), lambda row: '%s' % row['Date'].year))
    ])

In [31]:
average_feb_by_year = average_february.group_by('year')

In [32]:
average_feb_by_year = average_feb_by_year.aggregate([
        ('average', agate.Mean('tmax_f'))
    ])

In [33]:
average_feb_by_year.print_bars('year', 'average', width=80)

year                       average
1973 36.80000000000000000000000000 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░
1974 41.85357142857142857142857143 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
1975 28.27857142857142857142857143 ▓░░░░░░░░░░░░░░░░░░░░░
1976 50.33793103448275862068965517 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
1977 47.46785714285714285714285714 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
1978 22.75000000000000000000000000 ▓░░░░░░░░░░░░░░░░░
1979 23.27857142857142857142857143 ▓░░░░░░░░░░░░░░░░░
1980 30.73448275862068965517241379 ▓░░░░░░░░░░░░░░░░░░░░░░░
1981 45.22500000000000000000000000 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
1982 33.10000000000000000000000000 ▓░░░░░░░░░░░░░░░░░░░░░░░░
1983 39.96071428571428571428571429 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
1984 46.35517241379310344827586207 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
1985 33.38214285714285714285714286 ▓░░░░░░░░░░░░░░░░░░░░░░░░
1986 35.79285714285714285714285714 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░
1987 49.60000000000000000000000000 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
1988 39.26206896551724137931034483 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
1989 27.48928571428571428571428571 ▓░░░░░░░░░░░░░░░░░░░░
1990 44.45714285714285714285714286 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
1991 51.40357142857142857142857143 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
1992 48.57241379310344827586206897 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
1993 28.90714285714285714285714286 ▓░░░░░░░░░░░░░░░░░░░░░
1994 33.23214285714285714285714286 ▓░░░░░░░░░░░░░░░░░░░░░░░░
1995 45.15357142857142857142857143 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
1996 43.13448275862068965517241379 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
1997 38.12500000000000000000000000 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░
1998 44.48571428571428571428571429 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
1999 48.36071428571428571428571429 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2000 49.20000000000000000000000000 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2001 30.05000000000000000000000000 ▓░░░░░░░░░░░░░░░░░░░░░░
2002 43.16071428571428571428571429 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2003 36.14285714285714285714285714 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░
2004 35.01034482758620689655172414 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░
2005 45.07500000000000000000000000 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2006 43.97500000000000000000000000 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2007 33.25000000000000000000000000 ▓░░░░░░░░░░░░░░░░░░░░░░░░
2008 36.51724137931034482758620690 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░
2009 44.33214285714285714285714286 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2010 30.27857142857142857142857143 ▓░░░░░░░░░░░░░░░░░░░░░░
2011 38.66428571428571428571428571 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2012 41.28275862068965517241379310 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2013 40.65714285714285714285714286 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2014 33.92142857142857142857142857 ▓░░░░░░░░░░░░░░░░░░░░░░░░░
2015 33.58928571428571428571428571 ▓░░░░░░░░░░░░░░░░░░░░░░░░░
2016 34.60714285714285714285714286 ▓░░░░░░░░░░░░░░░░░░░░░░░░░
                                   +----------+----------+----------+----------+
                                   0         15         30         45         60